{% import 'macros/macros.landing.twig' as landing %}
<section class="section experts" id="section-experts">
  <div class="container">
    {{
      landing.header(
      'experts__header text-center color-brand-2', 
      {text: 'Эксперты марафона'}
      )
    }}
  </div>
</section>