{% import 'macros/macros.landing.twig' as landing %}
<section class="section main-result" id="section-main-result">
  {% for i in 1..4 %}
    {{landing.image('img/main-result-bg.png', 'Главный результат марафона', "main-result__bg main-result__bg_#{i}")}}
  {% endfor %}
  <div class="container">
    {{
      landing.header(
      'main-result__header text-center', 
      {text: 'Главный<br>результат марафона'}
      )
    }}
    <div class="row main-result__content">
      <div class="col-12 col-md-10 col-lg-8">
        <ul class="list main-result__list">
          <li>▶ Вы <strong>ощутите эффекты</strong> от здорового образа жизни и не захотите от него отказываться!</li>
          <li>▶ Вы <strong>запустите процесс улучшения</strong> своей жизни во всех сферах.</li>
          <li>▶ У Вас появится <strong>комплексное видение</strong> того, как сделать себя здоровой, красивой и энергичной!</li>
        </ul>
      </div>
    </div>
    <div class="main-result__body">
      {{landing.image('img/main-result-girl.png', 'Главный результат марафона', 'main-result__body-image')}}
      <div class="main-result__body-footer">
        {{
          landing.button(
            'main-result__body-footer-button btn_white', 
            'ХОЧУ',
            {
              "data-scroll-to": "#section-participation"
            }
          )
        }}
      </div>
    </div>
  </div>
</section>