{% import 'macros/macros.landing.twig' as landing %}
<section class="contraindications" id="section-contraindications">
  <div class="container">
    <div class="row contraindications__row">
      <div class="col-12 col-sm-6 col-md-6">
        <blockquote class="contraindications__blockquote">
          {{landing.image('img/quote.png', 'owlquote', 'contraindications__blockquote-image')}}
          <p class="contraindications__blockquote-title">Противопоказания<br>к участию в марафоне:</p>
          <div class="contraindications__blockquote-content">
            Беременность, лактация, <br>послеоперационные<br> состояния, стадии обострения<br> хронических заболеваний. 
          </div>
        </blockquote>
        <div class="contraindications__button-cover">
          {{
            landing.button(
              'contraindications__button btn_white',
              'Участвовать в марафоне',
              {
                "data-scroll-to": "#section-participation"
              }
            )
          }}
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-5 contraindications__image-cover">
        {{landing.image('img/owl-woman.png', 'owlwomen', 'contraindications__image')}}
      </div>
    </div>
  </div>
</section>