{% import 'macros/macros.landing.twig' as landing %}
<section class="section win" id="section-win">
  
  <div class="container win__container">
    {% for i in 1..6 %}
      {{landing.image('img/win-star.png', 'Самые активные выиграют 10 000 рублей!', "win__bg win__bg_#{i}")}}
    {% endfor %}
    {{
      landing.header(
      'win__header text-center', 
      {text: 'Самые активные<br>выиграют 10 000 рублей!'}
      )
    }}
    <div class="row win__content">
      <div class="col-12 col-md-10 col-lg-8">
        <p>1. Вы фиксируете свои параметры<br>до и после марафона.</p>
        <p>2. Пишете рассказ о себе.</p>
        <p><strong>Автор лучшей истории получит 10 000 рублей</strong></p>
        <div class="win__content-button-cover text-center">
          {{
            landing.button(
              'win__content-button btn_brand-1', 
              'Хочу победить',
              {
                "data-scroll": "data-scroll",
                "href": "#section-form"
              }
            )
          }}
        </div>
      </div>
    </div>
  </div>
</section>