{% import 'macros/macros.landing.twig' as landing %}
<section class="section-margin curator" id="section-curator">
  <div class="container">
    {{
      landing.header(
      'curator__header text-center color-brand-2', 
      {text: 'Боитесь запутаться в таком<br>количестве информации?..'}
      )
    }}
    <div class="row curator__info">
      <div class="col-12 col-sm-5">
        {{landing.image('img/curator.png', 'curator', 'curator__image')}}
      </div>
      <div class="col-12 col-sm-7">
        {{
          landing.header(
          'curator__info-header color-brand-2', 
          {text: 'Дарья Часовских', class: 'curator__info-header-title'},
          {text: 'Все 10 дней решает любые <br>организационные вопросы –<br>ваш куратор', class: 'curator__info-header-subtitle'}
          )
        }}
        <div class="curator__info-toggle">
          {{landing.toggle('#curator-hidden', 'Скрыть подробную информацию о кураторе', 'Показать подробную информацию о кураторе')}}
        </div>
      </div>
    </div>
    <div class="curator__content" id="curator-hidden">
      <ul class="list curator__list curator__content-greeting">
        <li><span class="color-brand-1">▶</span> 15 лет в сфере ЗОЖ</li>
        <li><span class="color-brand-1">▶</span> Сертифицированный специалист по здоровому питанию  Plant-based nutrition by Colin Campbell Center for Nutrition Studies, Cornell university, NY</li>
        <li><span class="color-brand-1">▶</span> 3 года с семьей (муж, родители, бабушки) и двумя детьми (2 и 3,5 года) на цельном растительном питании</li>
        <li><span class="color-brand-1">▶</span> Регулярно занимается йогой, дыхательными практиками, боксом, Bootcamp и TRX, практикует голодание</li>
        <li><span class="color-brand-1">▶</span> Успешный опыт изменения жизненных привычек всей семьи на здоровые</li>
      </ul>
      <div class="row">
        <div class="col-12 col-sm-6">
          <ul class="list curator__list">
            <li>
              <strong>Участие в марафоне:</strong><br>
              <span class="color-brand-1">▶</span> Видеоурок “Идея, методология, цели и результаты марафона”<br>
              Цель: сориентироваться в материалах марафона, обозначить индивидуальные цели, освоить способы фиксации результатов марафона и условия достижения поставленных целей. 
            </li>
            <li><span class="color-brand-1">▶</span> Видеоурок “Введение в здоровое питание” + Бонус -материал для тех, кто имеет своей целью не просто попробовать, а осуществить полноценный переход на цельное растительное питание<br>Цель: освоить правила питания на предстоящие 10 дней,  уточнить правила в зависимости от индивидуальных целей участников, получить общие рекомендации, сопровождающие план питания. </li>
            <li><span class="color-brand-1">▶</span> Видеоурок “Рекомендации и пояснения к меню”<br>Цель: Что делать, если не все ингредиенты в наличии? Чем можно подсластить блюдо? Что делать, если я чувствую голод? Получить ответы на эти и многие другие вопросы, связанные с воплощением в жизнь предложенного меню.</li>
            <li><span class="color-brand-1">▶</span> Меню на 10 дней с рецептами, ингредиентами и количествами</li>
            <li><span class="color-brand-1">▶</span> Видеоурок “3 бюджета. Какой выбрать?”</li>
            <li><span class="color-brand-1">▶</span> 3 списка покупок на разные бюджеты</li>
            <li><span class="color-brand-1">▶</span> Видеоурок “Гид по продуктам и магазинам”<br>
            Цель: Получить обзор магазинов с наилучшим ассортиментом здоровых продуктов. Разобраться в том, как выбрать наиболее здоровые продукты: как найти цельнозерновые макароны, почему финики не должны блестеть и что таит в себе этикетка с составом. Поучаствовать в сравнении состава подобных продуктов и научиться выбирать лучшее. Получить примеры здоровых продуктов в магазинах Лента, Метро, Globus, Утконос и других. Узнать, где лучшие цены на чиа, финиковый сироп, киноа и не только.
            </li>
          </ul>
        </div>
        <div class="col-12 col-sm-6">
          <ul class="list curator__list">
            <li><span class="color-brand-1">▶</span> Встреча-вебинар “Самолечение образом жизни - научные данные”<br>Цель: О чем говорит наше самочувствие и внешний вид? Что мы можем улучшить меняя образ жизни? Правда ли основные известные хронические заболевания являются возрастными, наследственными и неизлечимыми? </li>
            <li><span class="color-brand-1">▶</span> Встреча-вебинар “Базовые принципы здорового питания”<br>Цель: Получить максимально достоверную информацию о вреде и пользе основных групп продуктов. Понять, какими принципами стоит руководствоваться меняя свое питание на более здоровое.</li>
            <li><span class="color-brand-1">▶</span> Встреча-вебинар “Виды и цели физических нагрузок”<br>Цель: Понять, какие существуют виды физических нагрузок и их цели. Наметить план индивидуального пути к физическому здоровью с учетом личных особенностей, ограничений и предпочтений. </li>
            <li><strong>Круглосуточно с Вами в мессенджере и на всех встречах-вебинарах для решения текущих задач и ответов на вопросы.</strong></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>