.nav__menu-item
	+d(block)

	+tr()

	+max(md)
		+mb(10px)

	+min(md)
		+d(inline-block)
		vertical-align: middle
		+offset('r', 15px)
		+c($color-white)

	&-link
		+d(block)
		+r()
		+c(inherit)
		+fw(500)
		text-decoration: none
		text-transform: uppercase
		+tr()

		&_attention
			+bgc($color-brand-2)

		&.active
			+bgc(lighten($color-brand-1, 5%))
			user-select: none
			&:hover
				+bgc(lighten($color-brand-1, 5%))

		+max(md)
			padding: 10px 15px
			+c($color-white)

		+min(md)
			padding: 10px 15px
			font-size: 12px

			&:hover
				+bgc($color-brand-2-lighten)

		+min(lg)
			padding: 15px 25px
			font-size: 16px

	+min(lg)
		.nav_scrolled &
			&-link
				font-size: 14px
				padding: 10px 15px