{% import 'macros/macros.landing.twig' as landing %}
{% 
  set social = [
    {
      "href": "https://facebook.com/zozhigalka",
      "icon": "img/icon-fb.svg"
    },
    {
      "href": "https://www.instagram.com/zozhigalka/",
      "icon": "img/icon-instagram.svg"
    },
        {
      "href": "https://vk.com/zozh_i_galka",
      "icon": "img/icon-vk.svg"
    }
  ]
%}
<footer class="footer">
  <div class="container">
    <div class="row footer__content">
      <div class="col-12 col-sm-2">
        {{landing.image('img/footer-logo.png', 'footer', 'footer__logo')}}
      </div>
      <div class="col-12 col-sm-10 footer__content-info">
        <ul class="footer__menu">
          <li><a data-scroll="data-scroll" href="#section-programm">Программа</a></li>
          <li><a data-scroll="data-scroll" href="#section-marafon">Цели</a></li>
          <li><a data-scroll="data-scroll" href="#section-result">Результаты</a></li>
          <li><a data-scroll="data-scroll" href="#section-experts">Эксперты</a></li>
          <li><a data-scroll="data-scroll" href="#section-participation">Записаться</a></li>
        </ul>
        <ul class="footer__social">
          {% for item in social %}
            <li class="footer__social-item">
              <a class="footer__social-item-link" href="{{item.href}}" target="_blank">{{landing.image(item.icon, "Social", 'footer__social-item-image')}}</a>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
    <div class="flex footer__copy">
      <p>Copyright © Zoжигалка, 2019<br><a href="https://l.zozh-i-galka.com/terms/" target="_blank">Политика конфиденциальности, возврата и условия предоставления услуг</a></p>
      {{landing.image('img/master_visa_fondy.png', 'footer', 'footer__fondy')}}
      <p> ИП Часовских Д.С.,ИНН 770470796200<br><a href="mailto:info@zozh-i-galka.com?subject=Вопрос с сайта">info@zozh-i-galka.com</a> | <a href="tel:+79585815385">+79585815385</a></p>
    </div>
  </div>
</footer>
<div class="modal" id="modal-form">
  <div class="modal__box modal__box_default">
    <div class="modal__header">
      <p class="modal__title">Участвовать по спеццене</p>
      <button class="modal__close" data-close="modal">&times;</button>
    </div>
    <div class="modal__body">
      {% include 'components/form.twig' with {'border': true} %}
    </div>
  </div>
</div>