.cube
	+r()
	+d(inline-block)
	+ta(left)
	z-index: 1
	&:before
		z-index: -1
		+pseudo("", 0, null, null, 0)
	&_1,
	&_2
		&:before
			+size(100px)
			border-width: 5px
			border-style: solid
			transform: skew(5deg, -15deg)

	&__title
		+fw(bold)
		+lh(1)
		+fs(70px)
		sup,
		sub
			+fs(50%)
			+lh(1)
		sup
			+d(block)
		sub
			vertical-align: baseline
		+min(sm)
			+fs_vmax(70)
		+min(lg)
			+fs_vmax(100)
		+min(xlg)
			+fs_vmax(80)

	&__subtitle
		+fw(bold)
		+fs(25px)
		line-height: 1
		+min(sm)
			+fs_vmax(30)
		+min(md)
			+fs_vmax(40)
		+min(xlg)
			+fs_vmax(30)