.section
	+r()
	+py(50px)

	+min(md)
		+py(vmax(75))

	&-margin
		+my(50px)

		+min(md)
			+my(vmax(75))

	&__header
		margin-bottom: 30px
		+min(sm)
			+mb(45px)
		+min(md)
			+mb(vmax(45))

	&__title
		+mb(0)
		+lh(1.1)
		+fw(700)
		+fs(28px)

		+min(sm)
			+fw(900)
			+fs(30px)

		+min(md)
			+fs_vmax(40)

	&__subtitle
		+fw(400)
		+lh(1.1)
		+fs(12px)
		+min(sm)
			+fs(20px)
		+min(md)
			+fs_vmax(22)

	&__title + &__subtitle
		margin-top: 20px
		+min(md)
			margin-top: 30px