<section class="section">
  <div class="container">
    {% include 'site/docs/components/button.twig' %}
    {% include 'site/docs/components/collapse.twig' %}
    {% include 'site/docs/components/form.twig' %}
    {% include 'site/docs/components/modal.twig' %}
    {% include 'site/docs/components/tab.twig' %}
  </div>
</section>