.available

	&__content
		+mb(30px)
		+min(md)
			+mb(vmax(60))
			+w(80%)
			+mx(auto)

	&__group
		+r()
		+offset('b', 30px)
		+min(md)
			+offset('b', 45px)

		&-header
			+d(flex)
			+ai(center)
			+pr(45px)

		&-arrow
			+a(0, 0)
			+size(27px, 15px)
			+bgi('../img/available-arrow.png')

		&.active &-arrow
			transform: scaleY(-1)

		&-image
			+a(0, null, null, 0)
			+h(30px)
			max-width: 30px
			object-fit: contain
			+min(md)
				+t(-10px)
				+h(50px)

		&-header,
		&-body
			+pl(45px)
			+min(md)
				+pl(60px)

		&-title
			+fw(900)
			+fs(14px)
			+mr(10px)
			+min(md)
				+fs(25px)
				+mr(30px)

		&-body
			+d(none)
			+mt(15px)
			+max(sm)
				+fs(14px)
			+min(sm)
				+mt(30px)
			p
				+offset('b', 15px)