.contraindications
	+fs(0)
	+r()
	background-image: linear-gradient( 0deg, $color-brand-3 0%, $color-white 86%)
	+max(sm)
		+ta(center)
	+min(md)
		+mt(75px)

	&__row
		+min(sm)
			flex-direction: row-reverse
			+ai(center)

	&__button
		&-cover
			+max(sm)
				+d(none)
		+min(xlg)
			+fs_vmax(20)

	&__blockquote
		+r()
		
		+c($color-brand-2)
		+fs(12px)
		+mb(30px)

		+min(sm)
			+d(inline-block)

		+min(md)
			+fs_vmax(20)
			+mt(-50px)
			

		+min(md)
			+mt(-200px)
			padding: 110px 45px 90px 90px

		+min(xlg)
			padding: 110px 45px 90px 90px

		&-image
			+a(0, 0)
			+size(100%)
			+max(md)
				+d(none)

		&-title
			line-height: 1.2
			+fw(900)
			+mb(15px)
			+min(md)
				+fs_vmax(30)
				+mb(30px)
			+min(xlg)
				+fs_vmax(25)

	&__image
		+max(sm)
			max-height: 200px
		&-cover
			+max(sm)
				+mt(15px)
			+min(sm)
				+ta(right)