.format
	+ta(center)
	+bgc($color-brand-4)
	+c($color-brand-2)
	z-index: 1

	&:before,
	&:after
		+pseudo("")

	&:before
		+a(null, null, 0, 0)
		+bgi('../img/format-bg-2.png')
		+min(sm)
			+size(30%, 75%)

	&:after
		+a(10%, 0)
		+bgi('../img/format-bg-1.png')
		+min(sm)
			+size(20%, 55%)

	+min(md)
		+pb(vmax(150))

	&__header
		+min(sm)
			+mb(90px)

	&__item-cube
		+ta(center)
		
		&_2
			min-height: 150px
			+min(sm)
				&:before
					top: -20px
					left: 50%
					+size(140px, 100px)
					transform: translateX(-50%) skew(5deg, -15deg)
			+min(md)
				&:before
					+size(160px)
					border-width: 10px
		+min(md)
			&_2
				min-height: 240px