.for-who
	+bgc($color-brand-4)
	+pb(0)
	+fs(0)
	&__row
		+min(md)
			flex-direction: row-reverse
			+ai(center)

	&__image
		+max(sm)
			max-width: 150px
		+min(md)
			max-width: 100%
			+ml(vmax(-60))

	&__list
		+fs(16px)
		+max(sm)
			+mb(30px)
		li
			&:after
				+t(7.5px)
		+min(md)
			+fs_vmax(25)

			li
				&:after
					+size(15px)

		+min(xlg)
			+fs_vmax(20)