.home
	+r()
	+py(30px, 45px)
	+bgc($color-brand-1)
	+c($color-white)
	overflow: hidden
	z-index: 1

	&:before
		+min(sm)
			+pseudo("", 0, null, null, 0)
			+bgi('../img/home-bg.png')
			+size(80%, 31%)

	+min(md)
		+py(8vmax, 4vmax)

	&__content
		+min(sm)
			+ai(center)
			+mb(4vmax)

		&-info
			+r()
			z-index: 2

			&-flex
				+min(sm)
					flex-direction: column-reverse

	&__title
		+r()
		z-index: 2
		+fs(28px)
		+fw(bold)
		
		+min(sm)
			+ta(right)
			+fs_vmax(150)

		+min(md)
			+fs_vmax(140)

		+min(xlg)
			+fs_vmax(100)

		
		&_general
			+d(none)
			+min(sm)
				+d(block)
		
		&_bg
			+d(block)
			+max(sm)
				+mr(15px)
			+min(sm)
				+d(none)

	&__subtitle
		+fw(400)
		line-height: 1.3
		+fs(14px)
		+max(sm)
			br
				+d(none)
		+min(md)
			+mb(60px)
			+fs_vmax(30)
		+min(xlg)
			+fs_vmax(22)

	&__attention
		+fw(900)
		+fs(28px)
		+mb(15px)

		+min(md)
			+fs_vmax(60)
			+mb(90px)

		+min(xlg)
			+fs_vmax(45)
	
	&__date
		+r()
		+min(sm)
			+ta(center)
		&:before
			+pseudo("", -75px, null, null, -15px)
			+size(89px, 75px)
			+bgi('../img/rabbit.png')
			+min(sm)
				top: 50%
				transform: translateY(-50%)
				left: -150px
				+size(260px, 200px)

		&_general
			+max(sm)
				+d(none)

		&_bg
			+a(null, null, 75px, 15px)
			+min(sm)
				+d(none)

	&__cube
		+max(sm)
			+ta(center)
		&:before
			top: 11px
			left: -7px
			border: none
			+bgi('../img/home-cube.png')
			+size(73px, 84px)
			
			+min(md)
				top: -5px
				left: -15px
				+size(150px, 180px)

		.cube
			&__title
				+fs(60px)
				+min(lg)
					+fs_vmax(100)
				+min(xlg)
					+fs_vmax(80)
			&__subtitle
				+fs(18px)
				+min(md)
					+fs_vmax(40)
				+min(xlg)
					+fs_vmax(30)

	&__bg
		+r()
		font-size: 0
		z-index: 1
		+ta(center)
		+max(sm)
			+ta(right)
			&-inner
				+r()
				max-width: 270px
				+mx(auto)
		&:before
			+min(sm)
				+pseudo("", 0, null, null, 0)
				+size(100%)
				+bgi('../img/catwomen-bg.png')
				z-index: -1
			+min(md)
				+size(900px)
				top: -150px
				left: -150px
		&-image
			+max(sm)
				max-width: 175px
			&_mobile
				+min(sm)
					+d(none)
			&_desktop
				+max(sm)
					+d(none)
		&-button
			+w(100%)
			+mt(-15px)

	&__info
		+ta(center)
		+max(sm)
			+d(none)

		&-block
			+fs(11px)
			+min(md)
				+fs(20px)