.marafon
	+bgc($color-brand-1)
	z-index: 1
	&__man
		z-index: -1
		+a(5%, null, null, 0)
		+max(sm)
			max-width: 180px
			top: 60px
			left: -50px
		+min(sm)
			+max(md)
				max-width: 250px

	&__header
		+ta(right)

	&__blockquote
		&-outer
			+mb(45px)
			+jc(flex-end)
			+min(sm)
				+mb(vmax(90))
				
		&-content
			+r()
			+py(20px)
			&:before,
			&:after
				+a()
			&:before
				top: 0
				left: 0
				content: "“"
			&:after
				content: "“"
				bottom: 0
				right: 0
		
		+r()
		+d(inline-block)
		border: 2px solid $color-white
		padding: 5px
		+ta(left)
		

		+max(sm)
			max-width: 155px
			br
				+d(none)

		+min(sm)
			padding: 15px

		&:before,
		&:after
			+pseudo("", 50%, 100%)
			+size(0)
			border: solid transparent
			pointer-events: none

		&:after
			border-color: rgba(0, 0, 0, 0)
			border-right-color: $color-brand-1
			border-width: 0px 22px 12px 0
			margin-top: -24px

		&:before
			border-color: rgba(245, 222, 211, 0)
			border-right-color: $color-white
			border-width: 0 30px 15px 0
			margin-top: -26px

		+min(md)
			padding: 25px
			+fs(30px)

			&:after
				border-width: 0 79px 39px 0
				margin-top: -23px

			&:before
				border-width: 0px 90px 45px 0px
				margin-top: -26px

		+min(md)
			+fs_vmax(33)

	&__subtitle
		+fw(bold)
		+max(sm)
			+fs(18px)
	
	&__items
		+r()
		+mb(45px)
		z-index: 1
		&-image
			+d(none)
			+min(sm)
				+d(inline-block)
				+a(0, null, null, 50%)
				transform: translateX(-50%)
				+size(50%, 100%)
				object-fit: contain
				z-index: -1
			+min(md)
				+w(400px)

		+min(md)
			+mb(vmax(60))

	&__item
		+c($color-white)
		+max(sm)
			+row()
			flex-basis: 100%
			+offset('b', 30px)
			&:nth-child(even)
				+jc(flex-end)
		+min(sm)
			+c($color-brand-2)
			+offset('b', vmax(60))

		&-inner
			+r()
			z-index: 1
			+max(sm)
				max-width: 160px
			+min(sm)
				+w(80%)
				+mx(auto)
				padding: 45px

		&-image
			+max(sm)
				+d(none)
			+min(sm)
				+a(0, 0)
				+size(100%)
				z-index: -1

		&-title
			+mb(15px)
			+lh(1)
			+fw(bold)
			+fs(18px)
			+min(sm)
				+fs(20px)
			+min(md)
				+fs(vmax(30))

		&-list
			list-style: none
			+fs(12px)
			+min(sm)
				+fs(14px)
			+min(md)
				+fs(18px)
			&-li
				+r()
				+offset('b', 10px)
				+pl(20px)
				&:before
					+pseudo("", 2px, null, null, 0)
				
				&_down:before,
				&_up:before
					+size(12px)

				&_down
					&:before
						+bgi('../img/icon-list-down-white.png')
						+min(sm)
							+bgi('../img/icon-list-down.png')

				&_up
					&:before
						+bgi('../img/icon-list-up-white.png')
						+min(sm)
							+bgi('../img/icon-list-up.png')

				&_balance
					&:before
						+size(14px, 12px)
						+bgi('../img/icon-list-balance-white.png')
						+min(sm)
							+bgi('../img/icon-list-balance.png')

				+min(sm)
					+pl(35px)
					&_down:before,
					&_up:before
						+size(22px, 23px)
					&_balance
						&:before
							+size(27px, 22px)