.not-like
	+bgc(#ffbe96)
	+pb(0)
	+fs(0)
	z-index: 1

	+max(sm)
		+pb(45px)

	&:before
		+min(sm)
			content: ""
			+a(null, null, 0, 0)
			+bgi('../img/not-like-bg.png')
			+size(150px)

			+min(md)
				+size(400px)

	&__image
		+max(sm)
			+h(180px)
			+ml(-45px)
			max-width: none
		&-cover
			+max(sm)
				+mt(15px)
				+ta(right)

	&__content
		+max(sm)
			+ai(flex-end)
		+min(sm)
			flex-direction: row-reverse

	&__body
		+ta(right)

		&-image
			max-width: 30px
			+min(sm)
				max-width: 120px
			&-holder
				+mb(15px)

	&__footer
		+ta(center)
		&-button
			+max(sm)
				+w(100%)