.programm
	+c($color-brand-2)
	overflow: hidden
	&__bg
		+a()
		&-1
			right: 0
			top: 0
			max-width: 50%
			+min(sm)
				top: -50%
				max-width: 50%

		&-2
			top: 10%
			right: -10%
			max-width: 100px
			opacity: 0.8
			+min(sm)
				top: 5%
				right: 15px
				max-width: 200px
				opacity: 1
			+min(md)
				max-width: 400px

	&-item
		&__cover
			+min(sm)
				+mb(vmax(60))
		&__cube
			+ta(center)
			&:before
				top: 30px
				left: -10px
				border: none
				+bgi('../img/programm-cube.png')
				+size(54px, 63px)
				+min(sm)
					top: -5px
					left: -15px
					+size(101px, 118px)

		&__header
			+d(flex)
			+ai(flex-end)
			+mb(30px)

			&-info
				font-style: italic
				+ml(30px)

		&__list
			li
				+pl(20px)
				+offset('b', 5px)
				
				&:after
					+t(3px)
					+l(0)
					+size(10px)
					+bgc($color-brand-1)
					border: 3px solid $color-brand-3
					border-radius: 100%
					+min(sm)
						+t(0)
						+size(15px)

				+min(sm)
					+offset('b', 10px)
					+fs(14px)

				+min(md)
					+fs_vmax(18)
					&:after
						+t(3px)

	&__toggle
		+ta(center)
		+my(30px)
		+min(sm)
			+my(vmax(90), vmax(45))

	&__hidden
		display: none

	&__show &
		&__item-cover
			+max(sm)
				+offset('b', 30px)

	&__hidden &
		&__item-cover
			+offset('b', 30px)
			+min(sm)
				+offset('b', vmax(60))