.programm
	+c($color-brand-2)
	overflow: hidden
	&__bg
		+a()
		&-1
			right: 0
			top: 0
			+min(sm)
				top: -50%

		&-2
			top: 1%
			right: -30%
			max-width: 200px
			opacity: 0.8
			+min(sm)
				top: 5%
				right: 15px
				max-width: 400px
				opacity: 1

	&-item
		&__cover
			+min(sm)
				+mb(vmax(60))
		&__cube
			+ta(center)
			+cube()
			&:before
				border-color: $color-brand-3
				top: 0
				left: -15px
				+size(100px)
				border-width: 5px
				+min(sm)
					top: 30px
					left: -15px

		&__header
			+d(flex)
			+ai(flex-end)
			+mb(30px)

			&-info
				font-style: italic
				+ml(30px)

		&__list
			li
				+pl(30px)
				+offset('b', 10px)
				&:after
					+t(0)
					+l(0)
					+size(20px)
					+bgc($color-brand-1)
					border: 3px solid $color-brand-3
					border-radius: 100%

				+min(md)
					+fs_vmax(20)
					&:after
						+t(3px)

	&__toggle
		+ta(center)
		+my(30px)
		+min(sm)
			+my(vmax(90), vmax(45))

	&__hidden
		display: none


	&__hidden &
		&__item-cover
			+min(sm)
				+offset('b', vmax(60))