.question
	+bgc(#ffbe96)
	z-index: 1

	&:before,
	&:after
		content: ""
		+a(null, null, 0)
		+bgi('../img/question-hand.png')
		z-index: -1

	&:before
		+l(5%)
		+min(md)
			+size(350px, 90%)

	&:after
		right: 5%
		+h(25%)
		+min(md)
			+size(150px, 500px)

	&__content
		+r()
		z-index: 1
		+mb(30px)
		+min(md)
			+mb(vmax(60))

		&-column
			+max(sm)
				+offset('b', 30px)

	&__group
		+r()
		+offset('b', 15px)
		+bgc($color-white)
		+min(md)
			+offset('b', 30px)

		&-header
			+r()
			+d(flex)
			+ai(center)
			padding: 15px 45px 15px 15px
			cursor: pointer
			+tr()
			+min(md)
				padding: 25px 45px 25px 25px

		&:not(.active) &-header:hover
			+bgc($color-brand-2)
			+c($color-white)

		&-arrow
			+a(50%, 15px)
			+size(27px, 15px)
			+mt(-7.5px)
			+bgi('../img/question-icon.png')
			transform: scaleY(-1)

		&-header:hover &-arrow
			+bgi('../img/available-arrow.png')

		&.active &-arrow
			transform: scaleY(1)

		&-image
			+a(-10px, null, null, 0)
			+h(30px)
			max-width: 30px
			object-fit: contain
			+min(md)
				+h(50px)

		&-title
			+fw(900)
			+max(sm)
				+fs(12px)

		&-body
			+d(none)
			padding: 15px
			+min(md)
				padding: 10px 25px
			p
				+offset('b', 15px)