=review-icon()
	+size(20px)
	object-fit: contain
	+tr()
	&:hover
		opacity: 0.8

.reviews
	+bgc(#fff5ef)

	+ .chat
		padding-top: 0

	&__hidden
		display: none

	&__toggle
		+ta(center)
		+my(30px, 0)
		+min(sm)
			+my(vmax(45))

	&-item

		&__cover
			+offset('b', 30px)
			+min(sm)
				+offset('b', 45px)

		&__header
			+r()
			+d(flex)
			+ai(center)
			+jc(space-between)
			+mb(20px)
			+pb(20px)
			+min(sm)
				+mb(30px)
				+pb(25px)

			&:before
				content: ""
				+a(null, null, 0, 0)
				+size(160px, 10px)
				+bgi('../img/review-divider.png')
				+min(md)
					+size(250px, 18px)

			&-item
				&_flex
					+d(flex)
					> *:not(:last-child)
						+mr(10px)

		&__info
			+mt(5px)
			+fs(12px)
			+min(sm)
				+fs(14px)

		&__social
			list-style: none
			&-item
				+d(inline-block)
				vertical-align: middle
				+offset('r', 10px)

				&-image
					+review-icon()

		&__platform
			&-image
				+review-icon()

		&__win
			+fw(bold)
			+c($color-brand-1)
			+min(lg)
				+fs(20px)

		&__image
			+d(inline-block)
			+size(45px)
			border-radius: 100%
			object-fit: cover
			+mr(10px)
			+min(sm)
				+mr(15px)
				+size(70px)

		&__title
			+r()
			+fs(20px)
			+fw(bold)
			+lh(1)

			+min(lg)
				+fs(26px)

		&__body
			+fs(12px)
			+min(md)
				+fs(14px)
			p
				+offset('b', 10px)

	&__hidden &
		&-item__cover
			+min(sm)
				+offset('b', vmax(45))