.win
	+ta(center)
	&__container
		+r()
		+min(md)
			+py(100px)
	&__bg
		+a()
		z-index: -1
		max-width: 70px
		opacity: 0.5
		&_1
			top: 5%
			left: 5%

		&_2
			top: 7.5%
			right: 5%

		&_3
			top: 40%
			left: 5%
			max-width: 100px

		&_4
			top: 40%
			right: 10%

		&_5
			bottom: 5%
			left: 5%
			max-width: 150px
			+min(sm)
				+max(md)
					max-width: 50px

		&_6
			bottom: 5%
			right: 5%

		+max(sm)
			max-width: 50px
			&_1
				max-width: 10px
			&_4
				max-width: 30px
			&_5
				max-width: 75px

		+min(sm)
			opacity: 1

	&__content
		+min(sm)
			+jc(center)
		
		+min(md)
			+fs(25px)
		p
			+mb(15px)

		&-button
			&-cover
				+mt(30px)

				+min(md)
					+mt(45px)