<!DOCTYPE html>
<html lang="en">
<head>
  {% block meta %}{% endblock %}
  {% block css %}{% endblock %}
  {% block js %}{% endblock %}
</head>
<body>
  {% block nav %}{% include 'blocks/nav2.twig' %}{% endblock %}
  <main class="site">{% block content %}Sorry, no content{% endblock %}</main>
  {% block footer %}{% include 'blocks/footer.twig' %}{% endblock %}
</body>
</html>